<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension  point="org.eclipse.emf.ecp.view.model.provider.xmi.file">



<file filePath="viewmodels/Register.view"/>

<file filePath="viewmodels/OrdnerMaster.view"/>

<file
      filePath="viewmodels/OrdnerDetails.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file filePath="viewmodels/ArchivMaster.view"/>

<file
      filePath="viewmodels/ArchivDetails.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file
      filePath="viewmodels/ArchiveDetails.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file filePath="viewmodels/Ordner.view"/>

<file filePath="viewmodels/ArchiveMaster.view"/>







</extension>
</plugin>
