<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated archiv -->
      <package
            uri="http://www.example.org/archive"
            class="archive.ArchivePackage"
            genModel="model/archiv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated archiv -->
      <package
            uri="http://it.naturtalent/location"
            class="location.LocationPackage"
            genModel="model/archiv.genmodel"/>
   </extension>

</plugin>
